html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}

body {
	background-color: #ffffff;
	color: var(--gray-color);
	font-family: var(--font-family);
	text-wrap: balance;
}

img {
	display: block;
}

h3 {
	color: var(--green-color);
}

.title {
	font-weight: 900;
	font-size: 22px;
	color: var(--black-color);
	
	@include largeTablet {
		font-size: 28px;
	}
	@include laptop {
		font-size: 38px;
	}

}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
