:root {
  --container-width: 1270px;
  --container-padding: 15px;

  --font-family: "Inter", sans-serif;

  --green-color: #3a767b;
  --white-color: #e7f3f4;
  --black-color: #191919;
  --gray-color: #474747;
  --orange-color: #e26833;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
