.footer {
  position: relative;
  outline: 2px solid var(--light-color);
  background-color: var(--green-color);
  padding-top: 30px;
  font-size: 32px;
  color: var(--white-color);
  overflow: hidden;

  @include laptop {
    padding-top: 37px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 251px;
    height: 204px;
    background-image: url("../img/svg/line-footer.svg");
    background-repeat: no-repeat;
    bottom: -65px;
    left: auto;
    transform: none;
    right: -120px;
    top: -25px;

    z-index: 1;

    @include laptop {
      bottom: -67px;
      left: 80px;
      right: auto;
      top: auto;
    }
  }
}

.footer__inner {
  display: grid;

  grid-template-columns: 1fr;
  padding-left: 27px;
  gap: 35px;

  img {
    width: 142px;
    height: 45px;
    margin-bottom: 20px;
  }

  @include largeTablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 0;
  }

  @include laptop {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    align-items: start;
  }
}

.footer__partners {
  align-items: flex-start;
  order: 2;
  z-index: 2;

  @include largeTablet {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__partner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 140.023%;
  margin-bottom: 4px;
  color: var(--light-color);


  @include minMobile {
    font-size: 14px;
  }
}

.footer__link-partners,
.footer__social,
.footer__title {
  font-size: 21px;
  font-weight: 900;
  line-height: normal;
  text-decoration: none;
  color: var(--white-color);
}

.footer__clients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  align-items: flex-start;
  padding-top: 23px;
}

.footer__social {
  padding-left: 33px;
  background-image: url("../img/svg/telegram.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.footer__desc {
  max-width: 255px;
  order: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-left: 33px;
  background-image: url("../img/svg/telegram.svg");
  background-repeat: no-repeat;
  background-position: left top;

  @include laptop {
    width: 275px;
    order: 2;
  }

  a {
    text-decoration: none;
  }
}

.footer__span {
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 140.023%;
  color: var(--white-color);
}

.footer__files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 281px;
  order: 3;

  @include largeTablet {
    width: 100%;
    justify-content: center;
  }

  @include laptop {
    width: 281px;
  }

  a {
    display: block;
    text-wrap: balance;
    text-align: left;
  }
}
