.hero {
  padding-top: 38px;
  padding-bottom: 43px;
  background-color: var(--green-color);
}

.hero__title {
  position: relative;
  font-size: 28px;
  color: var(--white-color);
  padding-bottom: 326px;
 
  &::after {
    content: "";
    
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    width: 359px;
    height: 297px;
    
    background-image: url('./../../img/hero/hero-mob@2x.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include mediaBg() {
      background-image: url('./../../img/hero/hero-mob@2x.png');
    }
    
    @include minMobile {
        width: 315px;
        background-size: contain;
        bottom: 0;
    }
  }

  @include minMobile {
    padding-bottom: 300px;
    bottom: -20px;
}
}

.hero__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: var(--white-color);

  @include minMobile {
    font-size: 14px;
  }
}
