.hero {
  padding-top: 38px;
  padding-bottom: 43px;
  background-color: var(--green-color);

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include tablet {
    text-align: center;
  }

  @include largeTablet {
    gap: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // row-gap: 20px;
    text-align: left;
  }
}

.hero__title {
  position: relative;
  font-size: 28px;
  color: var(--white-color);

  @include minLaptop {
    font-size: 35px;
  }

  @include laptop {
    font-size: 55px;
  }
}

.hero__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: var(--white-color);

  @include minMobile {
    font-size: 15px;
  }

  @include minLaptop {
    font-size: 20px;
  }

  @include largeTablet {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  @include laptop {
    font-size: 24px;
  }
}

.hero__image-mob {
  @include largeTablet {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  @include laptop {
    display: none;
  }
}

.hero__image-desk {
  display: none;

  @include laptop {
    margin-top: -160px;
    display: grid;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }
}
