.problems {
  margin-bottom: 40px;

  @include laptop {
    padding-top: 40px;
    padding-bottom: 65px;
    background-color: #f6f6f6;
  }

  .container {
    position: relative;
    z-index: 0;

    @include laptop {
      &::after {
        content: "";

        position: absolute;
        right: 0px;
        top: 0px;
        width: 570px;
        height: 585px;

        background-image: url("../../img/problems/looper@2x.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }
    }
  }
}

.problems__title {
  margin-bottom: 32px;

  @include laptop {
    padding-bottom: 40px;
  }
}

.problems__list {
  padding-left: 60px;
  margin-bottom: 20px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 12px;

  @include laptop {
    gap: 16px;
    margin-bottom: 30px;
    max-width: 70%;
  }

  &::after {
    content: "";

    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 100%;
    background: linear-gradient(
      0deg,
      #f34b26 0%,
      #d9390f 31.5%,
      #429299 65%,
      #6ad8e1 100%
    );
    border-radius: 25px;

    @include laptop {
      content: "";
      left: 0;
      top: 0;
      width: 31px;
      height: 540px;
      background-image: url("../../img/svg/problems-stroke.svg");
    }
  }
}

.problems__item {
  font-weight: 500;
  font-size: 18px;
  color: var(--green-color);

  @include laptop {
    font-size: 26px;
  }
}

.problems__button {
  padding: 15px 22px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-weight: 900;
  font-size: 17px;

  background-color: var(--black-color);
  color: var(--white-color);
}
