.program {
  margin-top: 30px;
}

.program__title {
  margin-bottom: 20px;
}

.program-swiper {

  .swiper-slide {
    padding-top: 25px;
  }

  .slide-inner {
    position: relative;
    padding-top: 340px;
    height: 605px;
    padding-bottom: 75px;
    border-radius: 15px;
    background-color: var(--white-color);

    @include minMobile {
      height: 650px;
    }
  }

  .phone {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }

  .slide-inner__title {
    margin-bottom: 8px;
    margin-left: 20px;

    font-weight: 700;
    font-size: 18px;
    color: var(--black-color);
  }

  .slide-inner__text {
    padding: 0 20px;

    font-weight: 500;
    font-size: 14px;
    color: var(--gray-color);
  }

  .arrow-inner {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 20px;
    bottom: 20px;
    z-index: 1;

    .program-progressbar--percent {
      // margin-left: 10px;
      font-size: 15px;
      font-weight: 900;
      color: var(--green-color);
    }
  }

  .program-swiper-prev,
  .program-swiper-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 15px;
    color: var(--black-color);
    background-color: var(--orange-color);

    &.swiper-button-disabled {
      background-color: #ffffff;

      svg {
        path {
          fill: #8b9a9b;
        }
      }
    }

    @include minMobile {
      width: 35px;
      height: 35px;
      border-radius: 10px;
    }
  }

  .program-swiper-prev {
    svg {
      rotate: -180deg;
    }
  }

  .program-progressbar.swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 45%;
    height: 7px;
    top: auto;
    left: 20px;
    bottom: 37px;
    z-index: 1;
    border-radius: 50px;
    background-color: #c6d8d9;

    span {
      margin-right: 5px;

      background: linear-gradient(90deg, #71a8ac 0%, #3a767b 100%);
      border-radius: 50px;
      transition-duration: 500ms !important;
    }

    @include minMobile {
      width: 43%;
      bottom: 33px;
    }
  }
}
