.result {
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 30px;
  margin-top: 60px;
  background-color: var(--white-color);
}

.result__title {
  position: absolute;
  margin-bottom: 14px;
  margin-top: -70px;
}

.result-swiper.swiper {
  padding-bottom: 20px;

  .swiper-slide {
    padding: 12px 0;

    @include laptop {
      padding: 0 60px;
      margin: 40px 0px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
    }

    .swiper-slide-inner {
      margin-bottom: 15px;

      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
      flex-direction: column;

      @include laptop {
        width: 50%;
      }
    }

    .swiper-slide-title {
      font-weight: 400;
      font-size: 16px;
      color: var(--green-color);
    }
    .swiper-slide-descr {
      font-weight: 900;
      font-size: 18px;
      color: var(--green-color);
    }

    img {
      margin: 0 auto;

      @include laptop {
        width: 482px;
      }
    }
  }

  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    padding: 2px 0;

    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--white-color);

    .swiper-pagination-bullet-active {
      background-color: var(--green-color);
      transform: scale(1.1);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  @include laptop {
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      width: 16px;
      height: 29px;

      &::after {
        font-size: 30px;
        width: 16px;
        height: 29px;
        color: var(--green-color);
      }
    }
  }
}
